body{
    margin: 0;
}

#background-img{
    aspect-ratio: 2/3.5;
    width: 26vw;
    position: relative;
}

#logo{
    position: absolute;
    top: 100px;
    background-color: black;
    width: 26vw;
}

#logo img{
    width: 26vw;
}

#photo-creds{
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    bottom: -1vw;
}

#container{
    display: flex;
}

#right-side{
    align-self: center;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 200px;
    width: 100%;
}

h2, h3{
    font-family: sans-serif;
}

label{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    display: block;
    margin-top: 10px;
}

#form-container{
    display: flex;
    gap: 80px;
}

form{
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
    font-family: sans-serif;
    background-color: #ffaa50;
    margin-top: 30px;
    display: block;
    width: 200px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}

#form-right-side{
    margin-top: 47px;
}

.passwords:invalid{
    border-color: red;
}

input:focus{
    outline: none;
    border-color: rgb(0, 162, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}